{% extends '@ezdesign/pagelayout.html.twig' %}

{% block content %}

    <h1>Algolia Search</h1>

    {% set lang = ezplatform.configResolver.getParameter('languages')[0] %}
    {% set replicas = constant('Novactive\\Bundle\\eZAlgoliaSearchEngine\\Core\\Query::REPLICAS')|json_encode %}
    {% set algoliaConfig = constant('Novactive\\Bundle\\eZAlgoliaSearchEngine\\Core\\AlgoliaClient::CONFIG')|json_encode %}

    <div id="js-algolia-search-container" data-lang="{{ lang }}" data-replicas="{{ replicas }}" data-config="{{ algoliaConfig }}"></div>

    <script src="https://cdn.jsdelivr.net/npm/react@16.8.4/umd/react.production.min.js" integrity="sha256-ctUamuIgSCQg1wsh8Iw0QbDXScmyXhjJ6lxYUscC3FA=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-dom@16.8.4/umd/react-dom.production.min.js" integrity="sha256-8uWWG/7CB3OS89Cw67+B++t6w0EMGfQE9C6OGps+Wd8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.0.0/dist/algoliasearch-lite.umd.js" integrity="sha256-MfeKq2Aw9VAkaE9Caes2NOxQf6vUa8Av0JqcUXUGkd0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/react-instantsearch-dom@5.4.0/dist/umd/ReactInstantSearchDOM.min.js" integrity="sha256-vmWrOQPli9GZEos/tF1gMDQnKWu3bBPKmcHboTJSpuM=" crossorigin="anonymous"></script>

    {{ encore_entry_script_tags('nova_ezalgolia', null, 'ezplatform') }}

{% endblock %}