{% extends '@ezdesign/pagelayout.html.twig' %}

{% block content %}

    <h1>Algolia Search</h1>

    <div id="js-algolia-search-container" data-replicas="{{ replicas|json_encode }}" data-config="{{ config|json_encode }}" data-query="{{ query }}"></div>

    {{ encore_entry_script_tags('nova_ezalgolia', null, 'nova_ezalgolia') }}

{% endblock %}
