{% extends '@ezdesign/pagelayout.html.twig' %}

{% block content %}

    <h1>Algolia Search</h1>

    {% set replicas = constant('Novactive\\Bundle\\eZAlgoliaSearchEngine\\Mapping\\Parameters::REPLICAS')|json_encode %}
    {% set algoliaConfig = constant('Novactive\\Bundle\\eZAlgoliaSearchEngine\\Core\\AlgoliaClient::CONFIG')|json_encode %}

    <div id="js-algolia-search-container" data-replicas="{{ replicas }}" data-config="{{ algoliaConfig }}" data-query="{{ query }}"></div>

    {{ encore_entry_script_tags('nova_ezalgolia', null, 'nova_ezalgolia') }}

{% endblock %}
